# pgAdmin дээр PostgreSQL database үүсгээд нэр, password-оо энд тааруулна.
# Жишээ: postgresql://postgres:123456@localhost:5432/sport_zaal_db?schema=public
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/sport_zaal_db?schema=public"
